## Pandas 'groupby'

Any groupby operation involves one of the following operations on the original dataframe/object. They are:
<br>
1. <b>Splitting</b> the data into groups based on some criteria.<br>
<br>
2. <b>Applying</b> a function to each group separately.<br>
<br>Any pandas data
3. <b>Combining</b> the results into a single dataframe.<br>
<br>
Splitting the data is pretty straight forward. What adds value to this split is the 'Apply' step. This makes 'Groupby' function interesting. In the apply step, you may wish to do one of the following: <br>
<br>
a. Aggregation − Computing a summary statistic. Example: Compute group sums or means.<br>
<br>
b. Transformation − performs some group-specific operation. Example: Standardizing data (computing z-score) within the group.<br> 
<br>
c. Filtration − discarding the data with some condition.<br> 
<br>
Let us now create a dataframe object and perform all the operations on it.

In [1]:
import pandas as pd
import numpy as np

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)

mp

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

In [7]:
mp.groupby('MarketCap').groups

{'Large Cap': Int64Index([0, 1, 8], dtype='int64'),
 'Mid Cap': Int64Index([2, 3, 4, 6, 9], dtype='int64'),
 'Small Cap': Int64Index([5, 7], dtype='int64')}

In [10]:
mp.groupby('MarketCap').get_group('Large Cap')

    Sector        Company  MarketCap  Share Price  Amount Invested
0       IT        Infosys  Large Cap         1120            24000
1     FMCG          Dabur  Large Cap          341            16000
8  Finance  Bajaj Finance  Large Cap         1937             5000

There are 3 Groups formed, if we group it by 'Market Cap'. They are:

- Group 1: 'Large Cap' (3 companies at index 0,1,8)

- Group 2: 'Mid Cap' (5 companies at index 2,3,4,6,9)

- Group 3: 'Small Cap' (2 companies at index 5,7)

In [6]:
mp.groupby('Sector').groups

{'FMCG': Int64Index([1, 5, 6], dtype='int64'),
 'Finance': Int64Index([2, 8], dtype='int64'),
 'IT': Int64Index([0, 7], dtype='int64'),
 'Pharma': Int64Index([3, 4], dtype='int64'),
 'Real Estate': Int64Index([9], dtype='int64')}

There are 5 Groups formed, if we group it by <b>'Sector'</b>. They are:<br>
<br>
Group 1: 'FMCG' (3 companies at index 1,5,6)<br>
Group 2: 'IT' (2 companies at index 0,7)<br>
Group 3: 'Pharma' (2 companies at index 3,4)<br>
Group 4: 'Finance' (2 companies at index 2,8)<br>
Group 5: 'Real Estate' (1 company at index 9)<br>

In [9]:
mp.groupby(['MarketCap','Sector']).groups

{('Large Cap', 'FMCG'): Int64Index([1], dtype='int64'),
 ('Large Cap', 'Finance'): Int64Index([8], dtype='int64'),
 ('Large Cap', 'IT'): Int64Index([0], dtype='int64'),
 ('Mid Cap', 'FMCG'): Int64Index([6], dtype='int64'),
 ('Mid Cap', 'Finance'): Int64Index([2], dtype='int64'),
 ('Mid Cap', 'Pharma'): Int64Index([3, 4], dtype='int64'),
 ('Mid Cap', 'Real Estate'): Int64Index([9], dtype='int64'),
 ('Small Cap', 'FMCG'): Int64Index([5], dtype='int64'),
 ('Small Cap', 'IT'): Int64Index([7], dtype='int64')}

There are 8 Groups formed, if we group it by <b>'Sector'</b> and <b>'MarketCap'</b>. They are:<br>
<br>
Group 1: 'Large Cap, FMCG' (1 company at index 1)<br>
Group 2: 'Mid Cap, FMCG' (1 company at index 6)<br>
Group 3: 'Large Cap, IT' (1 company at index 0)<br>
Group 4: 'Small Cap, FMCG' (1 company at index 5)<br>
Group 5: 'Mid Cap, Real Estate' (1 company at index 9)<br>
Group 6: 'Small Cap, IT' (1 company at index 7)<br>
Group 7: 'Mid Cap, Pharma' (2 companies at index 3,4)<br>
Group 8: 'Mid Cap, Finance' (1 company at index 2)<br>

### Iterating through groups

In [11]:
mp.head()

    Sector    Company  MarketCap  Share Price  Amount Invested
0       IT    Infosys  Large Cap         1120            24000
1     FMCG      Dabur  Large Cap          341            16000
2  Finance       DHFL    Mid Cap          610            50000
3   Pharma  Divis Lab    Mid Cap         1123            23000
4   Pharma      Lupin    Mid Cap          741            45000

In [12]:
grouped = mp.groupby('Sector')

for name ,group in grouped:
    print(name)
    print(group)

FMCG
  Sector         Company  MarketCap  Share Price  Amount Invested
1   FMCG           Dabur  Large Cap          341            16000
5   FMCG  Ruchira Papers  Small Cap          185            12000
6   FMCG       Britianna    Mid Cap         5351            52000
Finance
    Sector        Company  MarketCap  Share Price  Amount Invested
2  Finance           DHFL    Mid Cap          610            50000
8  Finance  Bajaj Finance  Large Cap         1937             5000
IT
  Sector             Company  MarketCap  Share Price  Amount Invested
0     IT             Infosys  Large Cap         1120            24000
7     IT  Persistent Systems  Small Cap          720            18000
Pharma
   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000
Real Estate
        Sector Company MarketCap  Share Price  Amount Invested
9  Real Estate     DLF   Mid Cap          217             3500

In [13]:
grouped = mp.groupby(['MarketCap','Sector'])

for name,group in grouped:
    print(name)
    print(group)

('Large Cap', 'FMCG')
  Sector Company  MarketCap  Share Price  Amount Invested
1   FMCG   Dabur  Large Cap          341            16000
('Large Cap', 'Finance')
    Sector        Company  MarketCap  Share Price  Amount Invested
8  Finance  Bajaj Finance  Large Cap         1937             5000
('Large Cap', 'IT')
  Sector  Company  MarketCap  Share Price  Amount Invested
0     IT  Infosys  Large Cap         1120            24000
('Mid Cap', 'FMCG')
  Sector    Company MarketCap  Share Price  Amount Invested
6   FMCG  Britianna   Mid Cap         5351            52000
('Mid Cap', 'Finance')
    Sector Company MarketCap  Share Price  Amount Invested
2  Finance    DHFL   Mid Cap          610            50000
('Mid Cap', 'Pharma')
   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000
('Mid Cap', 'Real Estate')
        Sector Company MarketCap  Share Price  Amount Invested
9  Real Estate     DLF   Mid Cap          217             3500
('Small Cap', 'FMCG')
  Sector         Company  MarketCap  Share Price  Amount Invested
5   FMCG  Ruchira Papers  Small Cap          185            12000
('Small Cap', 'IT')
  Sector             Company  MarketCap  Share Price  Amount Invested
7     IT  Persistent Systems  Small Cap          720            18000

In [14]:
grouped = mp.groupby('MarketCap')
grouped.get_group('Mid Cap')

        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500

## Aggregations

In [15]:
grouped = mp.groupby('MarketCap')

print (grouped['Amount Invested'].agg(np.mean))

MarketCap
Large Cap    15000
Mid Cap      34700
Small Cap    15000
Name: Amount Invested, dtype: int64

What does this mean?<br>
<br>
This means that on an average, we have invested INR 15000 per script in Large Cap, INR 34700 per script in Mid Cap and INR 15000 per script in Small Cap

In [37]:
print(grouped.agg(np.size))

           Sector  Company  Share Price  Amount Invested
MarketCap
Large Cap       3        3            3                3
Mid Cap         5        5            5                5
Small Cap       2        2            2                2

In [40]:
print(grouped.agg([np.mean,np.std]))

           Share Price              Amount Invested
                  mean          std            mean           std
MarketCap
Large Cap  1132.666667   798.075393           15000   9539.392014
Mid Cap    1608.400000  2117.064430           34700  20915.305401
Small Cap   452.500000   378.302128           15000   4242.640687

In [42]:
print(grouped['Amount Invested'].agg([np.mean,np.std,np.sum]))

            mean           std     sum
MarketCap
Large Cap  15000   9539.392014   45000
Mid Cap    34700  20915.305401  173500
Small Cap  15000   4242.640687   30000

### Transformations

In [18]:
mp = pd.DataFrame(my_portfolio)

print (mp)

grouped = mp.groupby('MarketCap')

z_score = lambda x: (x - x.mean()) / x.std()
print('*'*100)
print (grouped.transform(z_score))
print(grouped.transform(lambda x : len(x)))

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500
****************************************************************************************************
   Share Price  Amount Invested
0    -0.015872         0.943456
1    -0.991970         0.104828
2    -0.471596         0.731522
3    -0.229280        -0.559399
4    -0.409718         0.492462
5    -0.707107        -0.707107
6     1.767825         0.827145
7     0.707107         0.707107
8     1.007841        -1.048285
9    -0.657231        -1.491731
   Sector  Company  Share Price  Amount Invested
0       3        3            3                3
1       3        3            3                3
2       5        5            5                5
3       5        5            5                5
4       5        5            5                5
5       2        2            2                2
6       5        5            5                5
7       2        2            2                2
8       3        3            3                3
9       5        5            5                5

In [19]:
print (mp.groupby('MarketCap').filter(lambda x: len(x)>= 3))

        Sector        Company  MarketCap  Share Price  Amount Invested
0           IT        Infosys  Large Cap         1120            24000
1         FMCG          Dabur  Large Cap          341            16000
2      Finance           DHFL    Mid Cap          610            50000
3       Pharma      Divis Lab    Mid Cap         1123            23000
4       Pharma          Lupin    Mid Cap          741            45000
6         FMCG      Britianna    Mid Cap         5351            52000
8      Finance  Bajaj Finance  Large Cap         1937             5000
9  Real Estate            DLF    Mid Cap          217             3500

What does this mean?<br>
<br>
It will filter out the groups that have less than 3 companies in that particular group.

### Merging/Joining

In [22]:
left_df = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
         'Sector':['IT','Banks','Paints and Varnishes','Auto','Pharma']})

right_df = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
         'Sector':['Power','IT','Pharma','Banks','Auto']})

print(left_df)

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma

In [23]:
print(right_df)

   id Company  Sector
0   1    NTPC   Power
1   2     TCS      IT
2   3   Lupin  Pharma
3   4   ICICI   Banks
4   5     M&M    Auto

In [24]:
pd.merge(left_df,right_df,on='id')

   id     Company_x              Sector_x Company_y Sector_y
0   1       Infosys                    IT      NTPC    Power
1   2           SBI                 Banks       TCS       IT
2   3  Asian Paints  Paints and Varnishes     Lupin   Pharma
3   4        Maruti                  Auto     ICICI    Banks
4   5    Sun Pharma                Pharma       M&M     Auto

In [25]:
pd.merge(left_df,right_df,on='Sector')

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [26]:
# Merge 2 dataframes on multiple keys

print (pd.merge(left_df,right_df,on=['Sector','Company']))

Empty DataFrame
Columns: [id_x, Company, Sector, id_y]
Index: []

In [27]:
# Merge using 'how' argument

# Left join

print (pd.merge(left_df, right_df, on='Sector', how='right'))

   id_x   Company_x  Sector  id_y Company_y
0   1.0     Infosys      IT     2       TCS
1   2.0         SBI   Banks     4     ICICI
2   4.0      Maruti    Auto     5       M&M
3   5.0  Sun Pharma  Pharma     3     Lupin
4   NaN         NaN   Power     1      NTPC

In [28]:
# Merge using 'how' argument

# Left join

print (pd.merge(left_df, right_df, on='Sector', how='left'))

   id_x     Company_x                Sector  id_y Company_y
0     1       Infosys                    IT   2.0       TCS
1     2           SBI                 Banks   4.0     ICICI
2     3  Asian Paints  Paints and Varnishes   NaN       NaN
3     4        Maruti                  Auto   5.0       M&M
4     5    Sun Pharma                Pharma   3.0     Lupin

In [29]:
# Outer join

print (pd.merge(left_df, right_df, on='Sector', how='outer'))

   id_x     Company_x                Sector  id_y Company_y
0   1.0       Infosys                    IT   2.0       TCS
1   2.0           SBI                 Banks   4.0     ICICI
2   3.0  Asian Paints  Paints and Varnishes   NaN       NaN
3   4.0        Maruti                  Auto   5.0       M&M
4   5.0    Sun Pharma                Pharma   3.0     Lupin
5   NaN           NaN                 Power   1.0      NTPC

In [30]:
# Inner join

print (pd.merge(left_df, right_df, on='Sector', how='inner'))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [31]:
pd.merge?

Signature:
pd.merge(
    left,
    right,
    how: str = 'inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index: bool = False,
    right_index: bool = False,
    sort: bool = False,
    suffixes=('_x', '_y'),
    copy: bool = True,
    indicator: bool = False,
    validate=None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : tuple of (str, str), default ('_x', '_y')
    Suffix to apply to overlapping column names in the left and right
    side, respectively. To raise an exception on overlapping columns use
    (False, False).
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to output DataFrame called "_merge" with
    information on the source of each row.
    If string, column with information on source of each row will be added to
    output DataFrame, and column will be named value of string.
    Information column is Categorical-type and takes on a value of "left_only"
    for observations whose merge key only appears in 'left' DataFrame,
    "right_only" for observations whose merge key only appears in 'right'
    DataFrame, and "both" if the observation's merge key is found in both.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

    .. versionadded:: 0.21.0

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------

>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')
File:      c:\users\ramsu\anaconda3\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

## Concatenation

In [32]:
print (pd.concat([left_df,right_df]))
pd.concat?

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

Signature:
pd.concat(
    objs: Union[Iterable[Union[ForwardRef('DataFrame'), ForwardRef('Series')]], Mapping[Union[Hashable, NoneType], Union[ForwardRef('DataFrame'), ForwardRef('Series')]]],
    axis=0,
    join='outer',
    ignore_index: bool = False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity: bool = False,
    sort: bool = False,
    copy: bool = True,
) -> Union[ForwardRef('DataFrame'), ForwardRef('Series')]
Docstring:
Concatenate pandas objects along a particular axis with optional set logic
along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a dict is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned when `join`
    is 'outer'.
    This has no effect when ``join='inner'``, which already preserves
    the order of the non-concatenation axis.

    .. versionadded:: 0.23.0
    .. versionchanged:: 1.0.0

       Changed to not sort by default.

copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
Series.append : Concatenate Series.
DataFrame.append : Concatenate DataFrames.
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']
File:      c:\users\ramsu\anaconda3\lib\site-packages\pandas\core\reshape\concat.py
Type:      function

In [67]:
print (pd.concat([left_df, right_df],keys=['x','y']))

     id       Company                Sector
x 0   1       Infosys                    IT
  1   2           SBI                 Banks
  2   3  Asian Paints  Paints and Varnishes
  3   4        Maruti                  Auto
  4   5    Sun Pharma                Pharma
y 0   1          NTPC                 Power
  1   2           TCS                    IT
  2   3         Lupin                Pharma
  3   4         ICICI                 Banks
  4   5           M&M                  Auto

In [68]:
print (pd.concat([left_df, right_df],keys=['x','y'],ignore_index = True))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
5   1          NTPC                 Power
6   2           TCS                    IT
7   3         Lupin                Pharma
8   4         ICICI                 Banks
9   5           M&M                  Auto

In [69]:
print (pd.concat([left_df, right_df],keys=['x','y'],axis =1))

   x                                      y
  id       Company                Sector id Company  Sector
0  1       Infosys                    IT  1    NTPC   Power
1  2           SBI                 Banks  2     TCS      IT
2  3  Asian Paints  Paints and Varnishes  3   Lupin  Pharma
3  4        Maruti                  Auto  4   ICICI   Banks
4  5    Sun Pharma                Pharma  5     M&M    Auto

In [70]:
# Concatenating using append

print (left_df.append(right_df))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [71]:
print (left_df.append([right_df,left_df, right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto